/* body {
    background-image: url(assets/main-bg.jpg);
    background-size: cover;
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
} */

.navbar-brand {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.1em;
    text-transform: uppercase;


}

#navbarNav li a {
    color: white;
}

#main-content {
    background-image: url(../assets/main-bg.jpg);
    background-size: cover;
    height: 100vh;
    margin-top: -66px;

}

.navbar {
    opacity: 0.7;
}



.navbar-nav {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 33px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding-left: 200px;

}


#navBarRight {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 33px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding-left: 300px;

}

#navBarRight li a {
    color: white;

}

.navbar-nav li {
    padding-left: 50px;
}



.content h1 {
    padding-top: 300px;
    color: white;
    font-family: 'Arial';
    font-weight: 700;
    font-size: 72px;
    line-height: 33px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.content h3 {
    padding-top: 50px;
    font-family: 'Arial';
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.1em;
    margin-bottom: 50px;
    color: white;

}

.content .btn {
    text-align: center;
    height: 60px;
    width: 260px;


}

.top-scores .btn {
    text-align: center;
    height: 60px;
    width: 260px;


}





.content p {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.1em;
    margin-top: 350px;
    color: white;
}

.content img {
    margin-bottom: 2px;
}

/* scroll down */
.scroll-down {
    position: absolute;
    width: 20.25px;
    height: 8.17px;
    left: 708.32px;
    top: 898.53px;
    border: 2px solid #FFFFFF;
}

.about h3 {
    padding-top: 200px;
    font-family: Arial;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 2px;
    text-align: left;
    color: white;
}

.about h1 {
    padding-top: 10px;
    font-family: Arial;
    font-size: 56px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 3px;
    text-align: left;
    color: white;
}

#about1 {
    background-image: url(../assets/the-games-bg.jpg);
    background-size: cover;
    height: 100vh;


}

#features1 {
    background-image: url(../assets/features.jpg);
    background-size: cover;
    height: 100vh;
}

#requirements1 {
    background-image: url(../assets/requirements.png);
    background-size: cover;
    height: 1200px;

}

#top-scores1 {
    background-image: url(../assets/top-score-bg.png);
    background-size: cover;
    height: 100vh;
    margin-top: 200px;

}

#newsletter1 {
    background-image: url(../assets/newsletter.png);
    background-size: cover;
    height: 1200px;


}

.features h3 {
    padding-top: 220px;
    font-family: Arial;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 2px;
    text-align: left;
}

.features h1 {
    font-family: Arial;
    font-size: 56px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 3px;
    text-align: left;


}

.features span {
    font-family: Arial;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 2px;
    text-align: center;
    color: #FFB548;
    margin-left: 50px;
    padding-top: 50px;
}

/* .features p {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: justified;
} */

.system-req h3 {

    padding-top: 150px;
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 2px;
    text-align: left;

}

.system-req h1 {
    padding-top: 85px;
    font-family: Arial;
    font-size: 56px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 3px;
    text-align: left;
    text-transform: uppercase;

}

.system-req h4 {
    padding-top: 30px;
    font-family: Arial;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 2px;
    text-align: left;
    color: #FFB548;
}

.system-req p {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    color: white;
}

.about .about-img {
    float: right;
    width: 858px;
    height: 477px;
    left: 600px;
    top: 318.7px;
}

#row-box {

    border: 1px solid #979797;
    margin-top: 0;

}

#box1 {
    border-right: 1px solid #979797;
}

#box3 {
    border-right: 1px solid #979797;
}

#carousel {
    width: 858px;
    height: 477px;


}

.wrapper {
    width: 330px;
    font-family: 'Helvetica';
    font-size: 14px;
}

.StepProgress {
    position: relative;
    padding-left: 45px;
    list-style: none;
}

.StepProgress::before {
    display: inline-block;
    content: '';
    position: absolute;
    top: 0;
    left: 15px;
    width: 10px;
    height: 100%;
}

.StepProgress-item {
    position: relative;

    font-family: Arial;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 2px;
    text-align: left;
    color: #FFB548;

}

.StepProgress-item strong {
    font-family: Arial;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 2px;
    text-align: justified;
    margin-top: 5px;
    color: #FFB548;
    padding-left: 0;
}



.StepProgress-item p {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: justified;
    margin-top: 5px;
    color: #FFFFFF;
    padding-left: 0;
}

.StepProgress-item:not(:last-child) {
    padding-bottom: 20px;
}

.StepProgress-item::before {
    display: inline-block;
    content: '';
    position: absolute;
    left: -30px;
    height: 100%;
    width: 10px;
}

.StepProgress-item::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: -37px;
    width: 20px;
    height: 20px;
    border: 2px solid #CCC;
    border-radius: 50%;

}

.StepProgress-item.is-done::before {
    border-left: 2px solid #FFFFFF;
}

.StepProgress-item.is-done::after {
    content: "";
    font-size: 13px;
    color: #FFF;
    text-align: center;
    border: 2px solid #FFFFFF;
    background-color: #FFFFFF;
}

.StepProgress-item.current::before {
    border-left: 2px solid #FFFFFF;
}

.StepProgress-item.current::after {
    content: counter(list);
    padding-top: 1px;
    width: 20px;
    height: 20px;
    top: -4px;
    left: -40px;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    background-color: white;
}

.StepProgress strong {
    display: block;
}

.wrapper {
    margin-top: 80px;
}

#ts-content {
    margin-top: 300px;
}


.comment1 {
    margin-left: 470px;
    margin-top: 150px;
    box-sizing: border-box;
    position: absolute;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    width: 470px;
    height: 200px;
}

.comment2 {
    margin-left: 300px;
    margin-top: 400px;
    box-sizing: border-box;
    position: absolute;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    width: 470px;
    height: 200px;
}

.comment3 {
    margin-left: 470px;
    margin-top: 650px;
    box-sizing: border-box;
    position: absolute;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    width: 470px;
    height: 200px;
}

.comment1 h4 {
    padding-left: 100px;
    padding-top: 25px;
}

.comment1 span {
    padding-left: 100px;
    margin-top: 2px;

}

.comment2 h4 {
    padding-left: 100px;
    padding-top: 25px;
}

.comment2 span {
    padding-left: 100px;
    margin-top: 2px;

}

.comment3 h4 {
    padding-left: 100px;
    padding-top: 25px;
}

.comment3 span {
    padding-left: 100px;
    margin-top: 2px;

}

#img1 {
    position: absolute;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 15px;
    z-index: 999;

}

#img2 {
    position: absolute;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-left: 27px;
    margin-top: 18px;
    z-index: 1;
}

#twitter {
    position: absolute;
    width: 18px;
    height: 14px;
    margin-left: 410px;
    margin-top: 30px;
    opacity: 30%;


}

#p-date {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
    opacity: 50%;


}


.comment1 p {
    padding-left: 30px;
    padding-top: 10px;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;



}

.comment2 p {
    padding-left: 30px;
    padding-top: 10px;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;

}

.comment3 p {
    padding-left: 30px;
    padding-top: 10px;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;

}

.newsletter h3 {
    font-family: Arial;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 2px;
    text-align: left;
    padding-top: 136px;
}

.newsletter h1 {
    font-family: Arial;
    font-size: 65px;
    font-weight: 400;
    line-height: 75px;
    letter-spacing: 3px;
    text-align: left;
    margin-top: 10px;
    padding-top: 13px;
}

.newsletter p {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    padding-top: 10px;

}

#skull-image {
    margin-top: 100px;
    position: absolute;
    background: radial-gradient(45.43% 53.19% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 46.15%, #080A0B 99.74%);

}

/* #form-email {
    margin-top: 30px;
    background: #FFFFFF14;
    width: 366px;
} */

#btn-subscribe {
    margin-top: 23px;
    height: 60px;
    width: 260px;
    border-radius: 4px;
    margin-left: 50px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
}


#form-box {
    margin-top: 23px;
    box-sizing: border-box;
    position: absolute;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 5px;
    width: 366px;
    height: 60px;

}

.box p {
    padding-left: 20px;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 0px;
}

.box span {
    font-style: normal;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    padding-left: 20px;
    padding-top: 0px;

}

#footer {
    margin-top: 175px;
    width: 1800px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.1em;
    color: #FFFFFF;



}

#footer li {
    padding-left: 30px;
    padding-bottom: 30px;
}

#footer ul {

    border-bottom: 0.873968px solid #FFFFFF;
    margin-top: 30px;

}

#ptc {
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-align: right;
    text-transform: uppercase;

}



/* .box-2 {
    width: 600px;
    border: 1px solid #979797;
    margin-top: 0;
    margin-left: 10px;
} */

/* Ellipse */

/* position: absolute;
width: 14px;
height: 14px;
left: 809.21px;
top: 671.6px;

border: 1.30637px solid #FFFFFF;
transform: rotate(90deg); */